{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./frontend/src/styles.css",
  "tailwindFunctions": ["cva", "cx", "mergeClasses"],
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
